table
{
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
}

table, th, td
{
  padding: 5px;
  border: 1px solid black;
}

.table-head {

}

.center-text {
	width: 100%;
	margin: auto;
	text-align: center;
}

.bolded {
	font-weight: bold;
	text-align: left;
}