html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  /*font-family: ;*/
}

/* Largest heading text */
h1 {
  padding-top: 0;
  text-transform: uppercase;
  /*color: red; /* font COLOR of largest heading text */
}

.item img {
  width: 100%;
}
.icon-bar {
  color: #000;
  background-color: #000;
}

.fa {
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #000000; /*#f5f5f5; /* background COLOR of footer */
  color: white;
}
.footer .fa {
  color: white;
}
.copyright {
  text-align: left;
}

/* [fix padding of h1 pls] */
/* white bg section, put alongside .primary-section */
.lighter-bg {
  padding: 15px;
  background-color: #ffffff;
}

/* grey bg section, put alongside .primary-section */
.darker-bg {
  padding: 15px;
  background-color: #ebebeb;
}

.section-header {
  text-align: center;
}

.section-hero {
  position: relative;
}
.section-hero > img {
  width: 100%;
}


@media (min-width: 400px) {
  .section-hero-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .section-hero-text {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }
}

@media (min-width: 1024px) {
  .section-hero-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
  }
}

.social-media {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.social-media a + a {
  margin-left: 20px;
}

.top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.carousel-button {
  font-size: 2em;
  background-color: #000;
  border: solid black;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}

.map-section > img {
  display: block;
  width: 80%;
  margin: 0px auto;
}

.centered-table {
  margin: 0px auto;
  border: 0px;
}

.centered-table td {
  padding-left: 15px;
}

#instafeed {
  height: 30%;
}
.waiver-button {

}

.first-time-buttons {

}

.events-image {
  width: 100%;
  max-width: 250px;
  float: right;
}

.staff-image {
  width: 100%;
  max-width: 150px;
  float: right;
}

.row-padding {
  margin-bottom: 15px;
}

.form-horizontal {
  padding-left: 10px;
}

textarea {
  resize: none;
}

/* FAQ: question text */
.accordion:hover {
  cursor: pointer;
}

/* FAQ: answer div */
.panel {
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

/* CONTACT: submit modal */
.modal-dialog {
}

.modal-content {
  /*margin: 0 auto;
  vertical-align: middle;
  width: 50%;*/
  /*height: 200px;*/
  top: 100%;
  padding: 15px;
}

.right-align {
  text-align: right;
}

#contactSubmitOk {
  width: 150px;
}