html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 100%;
}

h1 {
  text-transform: uppercase;
}

.item img {
  width: 100%;
}

.item {
  max-height: 600px;
}

.insta-item img {
  width: 100%;
}

.insta-item {
  margin: 0px 5px;
}

#instafeed {
  height: 30%;
  margin: 0 -5px;
}

.icon-bar {
  color: #000;
  background-color: #000;
}

.fa {
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
  height: 50px;
}

.section-header {
  text-align: center;
}

.section-hero {
  position: relative;
  max-height: 400px;
  overflow-y: hidden;
  color: #fff;
}

.section-hero > img {
  width: 100%;
}


@media (min-width: 400px) {
  .section-hero-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .section-hero-text {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }
}

@media (min-width: 1024px) {
  .section-hero-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
  }
}

.social-media {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.social-media a + a {
  margin-left: 20px;
}

.top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.carousel-button {
  font-size: 2em;
  background-color: #000;
  border: solid black;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}

.map-section > img {
  display: block;
  width: 80%;
  margin: 0px auto;
}

.centered-table {
  margin: 0px auto;
  border: 0px;
}

.centered-table td {
  padding-left: 15px;
}

.wall-image img {
  max-height: 400px;
  position: relative;
}
.waiver-button {

}

.events-image {
  width: 100%;
  max-width: 250px;
  float: right;
}

.staff-image {
  width: 100%;
  max-width: 150px;
  float: right;
}

.row-padding {
  margin-bottom: 15px;
}

.form-horizontal {
  padding-left: 10px;
}

textarea {
  resize: none;
}

/* FAQ: question text */
.accordion:hover {
  cursor: pointer;
}

/* CONTACT: submit modal */
.modal-dialog {

}

.modal-content {
  /*margin: 0 auto;
  vertical-align: middle;
  width: 50%;*/
}

.right-align {
  text-align: right;
}

.wall-caption {
  top: 50px;
  min-height: 20px;
  left: 80px;
  position: absolute;
  width: 50px;
  z-index: 2;
  color: #fff;
  background-color: #000;
  text-align: center;
}
