html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 100%;
}

h1 {
  text-transform: uppercase;
}

.item img {
  width: 100%;
}
.icon-bar {
  color: #000;
  background-color: #000;
}

.fa {
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
  height: 50px;
}

.section-header {
  text-align: center;
}

.section-hero {
  position: relative;
}
.section-hero > img {
  width: 100%;
}

.section-hero-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
}

.social-media {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.social-media a + a {
  margin-left: 20px;
}

.top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.carousel-button {
  font-size: 2em;
  background-color: #000;
  border: solid black;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}

.map-section > img {
  display: block;
  width: 80%;
  margin: 0px auto;
}

.centered-table {
  margin: 0px auto;
  border: 0px;
}

.centered-table td {
  padding-left: 15px;
}

#instafeed {
  height: 30%;
}
.waiver-button {

}

.first-time-buttons {
  
}

.events-image {
  width: 100%;
  max-width: 250px;
  float: right;
}
