@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Poppins');

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 150%;
}

/* Largest heading text */
h1 {
  padding-top: 0;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif;
  color: #38554c;
}

.item img {
  width: 100%;
}

.item {
  max-height: 600px;
}

.insta-item img {
  width: 100%;
}

.insta-item {
  margin: 0px 5px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

#instafeed {
  height: 30%;
  margin: 0 -5px;
}

.icon-bar {
  color: #000;
  background-color: #000;
}

.fa {
  color: #000;
}

nav {
  background-color: black;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  text-align: center;
}

.copyright {
  font-size: 11px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #555;
}
.footer .fa {
  color: white;
}

/* [fix padding of h1 pls] */
/* white bg section, put alongside .primary-section */
.lighter-bg {
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* grey bg section, put alongside .primary-section */
.darker-bg {
  padding-bottom: 20px;
  background-color: #e2e3e2;
}

.section-header {
  text-align: center;
}

.section-hero {
  position: relative;
  max-height: 400px;
  overflow-y: hidden;
  color: #fff;
}

.section-hero > h1 {
  color: #fff;
}

.section-hero > img {
  width: 100%;
}

.logo {
  width: 200px;
}

.social-media {
  text-align: center;
  vertical-align: top;
}

.social-media a + a {
  margin-left: 20px;
}

.social-media img {
  height: 36px;
}
.top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

.carousel-button {
  font-size: 2em;
  background-color: #000;
  border: solid black;
  width: 300px;
  height: 60px;
  margin-bottom: 40px;
}

.waiver-button {
  color: #fff;
  font-size: 1.5em;
  background-color: #486c45;
  border: solid black;
  width: 90%;
  height: 50px;
  margin: 0px auto;
  border: 0px;
  display: block;
  position: absolute;
}

.map-section > img {
  display: block;
  width: 100%;
  margin: 0px auto;
}

.centered-table {
  margin: 0px auto;
  border: 0px;
}

.centered-table td {
  padding-right: 15px;
}

.left-table td {
  padding-right: 15px;
  vertical-align: top;
}

th {
  text-align: center;
}

.wall-image img {
  max-height: 400px;
  position: relative;
}

.wall-image {
  background-color: #ccc;
}

.event-image {
  text-align: center;
}

.event-image img {
  width: 100%;
  max-width: 250px;
}

.event-description {

}

.row-padding {
  margin-bottom: 15px;
}

.form-horizontal {
  padding-left: 10px;
}

textarea {
  resize: none;
}

/* FAQ: question text */
.accordion {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  padding-top: 5px;
}
.accordion:hover {
  cursor: pointer;
}

/* FAQ: answer div */
.panel {
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

/* CONTACT: submit modal */
.modal-dialog {
}

.modal-content {
  /*margin: 0 auto;
  vertical-align: middle;
  width: 50%;*/
  /*height: 200px;*/
  top: 100%;
  padding: 15px;
}

.right-align {
  text-align: right;
}

.wall-caption {
  top: 50px;
  min-height: 20px;
  left: 80px;
  position: absolute;
  width: 50px;
  z-index: 2;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.modal-title {
  text-transform: uppercase;
}

#contactSubmitOk {
  width: 150px;
}

/* WAIVER: form container */
#waiverForm {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  background-image: none;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active{
   color: #fff;
  background: #555;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:active {
     color: #fff;
     background: #555;
}
.navbar-default .navbar-nav >li > a {
  color: #fff;
}

a.first-visit-link:hover {
  color: #1077a1 !important;
}

a.about-link:hover {
  color: #9c073b !important;
}

a.pricing-link:hover {
  color: #f0652f !important;
}

a.events-link:hover {
  color: #fcf272 !important;
}

a.rentals-link:hover {
  color: #39554c !important;
}

.navbar-default {
  background-color: #000;
  border: #000;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.primary-section {
  padding: 50px 0px;
}

.middle-content {
  margin: auto;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.homepage-overlay {
  display: block;
  position: absolute;
  left: 40%;
  top: 20%;
}

.homepage-overlay img {
  width: 40%;
}

.shoes {
  width: 15px;
  height: 15px;
}

.steps {
  height: 150px;
  text-align: center;
}

.dropdown-menu {
  border-top: 0px;
}

.cta-button {
  color: #fff;
  font-size: 1.5em;
  background-color: #486c45;
  border: 0px;
  width: 90%;
  height: 50px;
  margin: 10px auto;
  border: 0px;
  max-width: 500px;
  display: block;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0px;
}
/*.steps:nth-child(even) {
  background-color: #e4dfd5;
} */

.navbar-brand {
  display: inline-block;
  height: 100px;
}

.navbar-nav {
  margin-top: 25px;
}

.navbar-toggle {
  margin-top: 25px;
}

.mountain {
  display: block;
  margin-top: 40px;
  max-height: 200px;
  background-image: url("../assets/img/mountains.png");
  background-repeat: repeat-x;
  background-position: 0px -1px;
  padding-bottom: 200px;
  border-top: none;
}

.mountain img {
  max-height: 200px;
  visibility: hidden;
}

section:last-of-type {
  padding-bottom: 0px;
}

.staff-image {
  width: 100%;
  margin-bottom: 10px;
}

.profile {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.profile-name:nth-child(odd),
.profile-description strong,
.event-description strong {
  font-family: 'Fjalla One', sans serif;
}

.profile-description {
  font-size: 16px;
}

.profile-name:nth-child(even) {
  font-style: italic;
}

@media (min-width: 320px) {
  .section-hero-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
  }

  .section-header {
    font-size: 24px;
  }

  body {
    font-size: 1.5em;
  }

  .profile-name {
    display: inline-block;
    font-size: 1em;
  }

  .staff-image {
    width: 80%;
  }

  .event-description {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section-hero-text {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }

  .section-header {
    font-size: 36px;
  }

  .logo {
    width: 150px;
  }

  .navbar-right {
    font-size: 14px;
  }

  body {
    font-size: 1.8em;
  }

  .profile-name {
    display: block;
  }

  .staff-image {
    width: 100%;
  }

  .event-description {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .section-hero-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
  }

  .steps-bar {
    display: none;
  }

  .steps + hr + .steps {
    border-left: 1px #ccc solid;
    /*background-color: #e4dfd5;*/
  }

  .waiver-button {
    bottom: 0px;
  }

  .logo {
    width: 200px;
  }

  .navbar-right {
    font-size: 18px;
  }

  .staff-image {
    width: 100%;
  }
}
